html {
  background-color: white;
  font-family: Consolas;
  font-size: 24px;
}
body {
  margin: 0 auto;
  padding: 0 20px 20px 20px;
  border: 1px solid black;
}
.page-title {
  background-color: rgb(187, 187, 247);
  color: black;
  text-align: center;
  margin-top: 2px;
	margin-bottom: 2px;
  margin-left: 0px;
  margin-right: 00px;
  border: 1px solid black;
  font-weight: bold;
}
h1 {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: black;
  color: white;
  font-size: 30px;
}
h2 {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: rgb(239, 234, 234);
  color: black;
  font-size: 25px;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
h4 {
	margin-top: 0px;
	margin-bottom: 1px;
}
h5 {
	margin-top: 0px;
	margin-bottom: 1px;
}
h6 {
	margin-top: 0px;
	margin-bottom: 1px;
}
ul {
  margin-top: 0px;
}
p {
  color: black;
}
table, th, td {
  border:0px solid black;
}
.page-header {
  position: -webkit-sticky; /* Safari */
  position: sticky; 
  background-color: grey;
  top: 0px;
}
.page-title {
  color:white;
  background-color: blue;
}
.main {
  margin-top: 15px; /* Add a top margin to avoid content overlay */
}

.collapsible-item {
  margin-top: 5px;
  margin-bottom: 0px;
  color:black;
  background-color: rgb(210, 230, 215);
  border: 1px solid black;
  font-size: 15px;
  width: 100%;
  text-align: left;
  font-weight: bold;
}
.collapsible-item:hover {
  background-color: red;
  color: white;
}
.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: white;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 1px solid black;
}
.book-recommended, .book-ok, .book-not-recommended, .book-to-read {
  font-weight: bold;
  font-size: 20px;
}

.book-recommended {
  background-color: rgb(162, 236, 162);
  color: black;
}
.book-ok {
  background-color: yellow;
  color: black;
}
.book-not-recommended {
  background-color: rgb(246, 152, 202);
  color: black;
}
.book-to-read {
  background-color: white;
  color: black;
}
.book-heading {
  background-color: black;
  color: white;
  font-size: 25px;
}


/* The navigation bar */
.navbar {
  overflow: hidden;
  /*background-color: #333;*/
  /* background-color: rgb(68, 107, 235); */
  background-color: rgb(247, 241, 241);
  /*position: fixed;*/ /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  text-align: right;
  font-size: 20px;
}

/* Links inside the navbar */
.navbar a {
  font-size: inherit;
  float: left;
  /* display: block; */
  /* font-size: 18px; */
  /* color: #f2f2f2; */
  text-align: center;
  /* padding: 2px 2px; */
  text-decoration: none;
}

.navbar a:hover {
  background-color: red;
}

.navbar-dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.navbar-dropdown .navbar-dropbtn {
  font-size: inherit;
  /* font-size: 20px; */
  /* border: none; */
  outline: none;
  color: black;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 20px;
  padding-left: 2px;
  background-color: inherit;
  /* background-color: grey; */
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar-dropdown:hover .navbar-dropbtn {
  background-color: red;
}

.navbar-dropdown-item-header {
  background-color: black;
  color: yellow;
  text-align: center;
}

/* Dropdown content (hidden by default) */
.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.navbar-dropdown-content a {
  float: none;
  color: black;
  padding: 2px 2px 2px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-top: 0px;
	margin-bottom: 1px;
  /* font-size: 16px; */
}

/* Add a grey background color to dropdown links on hover */
.navbar-dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}


.fund-table {
  width:100%;
  margin-top: 5px;
}

.fund-table caption {
  vertical-align:"bottom";
  background-color: white;
  color: yellow;
  text-align: left;
  font-size: larger;
}

.fund-table a:link {
  background-color: transparent;
  text-decoration: none;
  }

.fund-table a:visited {
  background-color: transparent;
  text-decoration: none;
  }

.fund-table a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.fund-table th {
  border:1px solid black;
  background-color: rgb(173, 168, 168);
  color: white;
}

.fund-table td {
  border:1px solid black;
}

/**************************************
.food {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fcf7f7;
  color: black;
  text-align: left;
  font-size: 20px;
  margin-top: 5px;
}

.food-table caption {
  vertical-align:"bottom";
  background-color: yellow;
  text-align: center;
  font-weight: bold;
}

.food-table th {
  border:1px solid black;
  background-color: rgb(226, 218, 218);
  text-align: center;
}

.food-table td {
  border:1px solid black;
  vertical-align: top;
  text-align: center;
}
*****************************/


.links {
  border: 1px solid black;
  margin-top: 3px;
}
.links button {
  font-size: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.button-header {
  color: white;
  background-color: black;
}
.links a {
  text-decoration: none;
}
.links a:link, a:visited {
  color: black;
}
.links a:hover {
  color: red;
}


/*************************
.finance-boxes {
  display: grid;
  grid-template-columns: 100px 1fr;
  background-color: #fcf7f7;
  color: black;
  text-align: left;
  font-size: 20px;
}

.finance-box-detail {
  text-align: left;
  border: 1px solid black;
}  

.finance-box-header {
  background-color: rgb(190, 16, 221);
  color: white;
  text-align: center;
  font-style: bold;
  vertical-align: middle;
  border: 1px solid black;
}
********************/

/***********************
.finance-estates {
  display: grid;
  grid-template-columns: 1fr;
  background-color: #fcf7f7;
  color: black;
  text-align: left;
  font-size: 20px;
  margin-top: 5px;
}

.finance-estates h1 {
  font-style: bold;
  font-size: 20px;
  margin-bottom: 0px;
  background-color: rgb(227, 219, 219);
}

.finance-estates ul {
  margin-top: 0px;
  color: black;
}

.finance-page {
  background-color: white;
  color: black;
  text-align: left;
  font-size: 20px;
}

.finance-page h1 {
  font-style: bold;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
  background-color: rgb(227, 219, 219);
}

.finance-page ul {
  margin-top: 0px;
  color: black;
}
***************************/